body{
    background-color: black;

}

.WelcomeHeader{
    font-size: 30px;
    padding: 330px;
    font-family:'Roboto Mono', monospace;
}

.WelcomeHeader:hover{
    color: #ac96ff;
}
.home{
    
      animation: rotation 2s infinite linear;
  
  }
  
  @keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
  }
  
   @media (prefers-reduced-motion: no-preference) {
    .logo {
      animation: logo-spin infinite 20s linear;
    }
  } 
  
  .logo{
        margin: center;
        padding: -450px;
        position: fixed;
        top: 30%;
        left: 44%;
  }
  