.App {
  text-align: center;
  max-width: 1200px;
  margin: 60px auto;
}


h1 {
  color:black;
  text-align: center;
  font-family:Verdana;
  font-size: 40px;
  

}
h2 {
  color: black;
  text-align: center;
  font-family: Verdana;
  font-size: 20px;

}
.cards-facts{
  text-align: center;
  font-family: Verdana;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.content {
  width: 100%;
  height: auto;
}
.img-fade{
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.facts li{
  list-style: none;
  margin-right: 20px;
}

.whole{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  margin: 10px auto;
}

.character{
  border: 1px solid black;
  width: 150px;
  height: 350px;
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
